/* Mid.css */

@keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade-in-left {
    animation: slideInLeft 1s ease-in-out forwards;
  }
  
  .fade-in-right {
    animation: fadeInRight 1s ease-in-out forwards;
  }
  