/* App.css */

/* Global styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(0, 0, 0);
}
.whitebg{
background-color: #131313;
}

.container {
  padding-left: calc((100% - 1280px) / 2);
  padding-right: calc((100% - 1280px) / 2);
  margin: 0 ;
  
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.logo img {
  height: 28px;
  width: auto;
}

nav ul {
  font-size: 18px;
  display: flex;
  gap: 24px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline-block;
  margin-right: 20px;
}

ul li a {
  text-decoration: none;
  color: #333;
  position: relative;
}

ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s;
  border-radius: 5px;
}

ul li a:hover::after {
  background-color: #ff6600;
}

nav input[type="text"] {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f4f4f4;
  transition: border-color 0.3s, box-shadow 0.3s;
}

nav input[type="text"]:focus {
  outline: none;
  border-color: #ff6600;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}

/* RESPONSIVENESS FOR NAV */
@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  nav {
    flex-direction: column;
    height: auto;
  }

  .logo img {
    margin-bottom: 10px;
    margin-top: 24px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  nav ul li {
    margin-right: 0;
  }

  nav input[type="text"] {
    width: 80%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  /* CSS for hamburger menu icon */
  .hamburger-menu {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .hamburger-menu .line {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: transform 0.3s ease;
  }

  .line-1 {
    top: 0;
  }

  .line-2 {
    top: 50%;
    transform: translateY(-50%);
  }

  .line-3 {
    bottom: 0;
  }

  /* Style for the "X" state */
  .hamburger-menu.active .line-1 {
    transform: rotate(45deg) translateX(-5px);
    top: calc(50% - 2px); /* Adjust for line width */
  }

  .hamburger-menu.active .line-2 {
    opacity: 0; /* Hide the middle line */
  }

  .hamburger-menu.active .line-3 {
    transform: rotate(-45deg) translateX(-5px);
    bottom: calc(50% - 2px); /* Adjust for line width */
  }

  /* Hide navigation links */
  nav ul {
    display: none;
  }

  /* Show mobile menu */
  .mobile-menu.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

/* Hide hamburger menu icon on larger screens */
@media screen and (min-width: 769px) {
  .hamburger-menu {
    display: none;
  }
}


/* ............................................................................ */

/* ................................Mid CSS*.................................... */
/* ............................................................................ */
#title1{
  color: #f4f4f4;
  font-size: 50px;
}
#content1 {
  color: #f4f4f4;
}

.mid {
  margin-top: 5%;
  display: flex;
  align-items: center; /* Align items vertically */
}

.mid-content {
  flex: 1; /* Make the content div flexible */
  max-width: 70%; /* Limit the maximum width to 50% of the container */
  padding: 0 20px; /* Add padding for spacing */
  margin-bottom: 170px;
}

.mid-image {
  flex: 1; /* Make the image div flexible */
  max-width: 60%; /* Limit the maximum width to 50% of the container */
  
}

.mid-image img {
  width: 100%; /* Ensure the image fills its container */
  height: auto; /* Maintain aspect ratio */
}

/* ................CSS for Button.................. */

.explore-btn {
  padding: 15px 20px;
  border: 2px solid #000000;
  border-radius: 28px;
  background: white;
  color: #141414;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin-right: 20px;
}

.explore-btn:hover {
  background-color: #ffffff;; 
  background-position: right center; /* Change background position on hover */
  color: #0f0f0f; /* Text color on hover */
  border-color: #ffffff; /* Border color on hover */
}

.start-btn {
  padding: 15px 20px;
  border: 2px solid #000000;
  border-radius: 28px;
  background: linear-gradient(135deg, #ff3b0f, #ff7951);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}



.start-btn:hover {
  background-image: linear-gradient(to right, #ff3e13, #ff3f3f);
  color: #fff; /* Text color on hover */
  border-color: #ff3f3f; /* Border color on hover */
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .mid {
    flex-direction: column-reverse; /* Stack items vertically and reverse order on smaller screens */
  }

  .mid-content,
  .mid-image {
    max-width: 100%; /* Adjust maximum width for smaller screens */
    margin-bottom: 30px; /* Adjust margin for smaller screens */
  }

  .explore-btn,
  .start-btn {
    width: 100%; /* Make buttons full width */
    margin-bottom: 15px; /* Add margin between buttons on smaller screens */
  }
}

/* ............Styles for OurVision component ...............*/

/* Styles for OurVision component */

.our-vision-container {
  max-width: 800px; /* Adjust max-width */
  margin: 0 auto; /* Center the container */
  text-align: center;
  margin-top: 80px; /* Adjust margin-top */
  margin-bottom: 80px;
  opacity: 0;
}

.our-vision-container.animate-slide-up {
  animation: slide-up 1s forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(150px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.our-vision-title {
  font-size: 3rem; /* Increase font size for smaller screens */
  color: #ffffff; /* Adjust color to ensure visibility */
  background: linear-gradient(to right, #ff3a33, #ff7b00); /* Red to Orange gradient */
  -webkit-background-clip: text; /* Clip the text to the background's gradient */
  -webkit-text-fill-color: transparent; /* Hide the text color */
  background-clip: text; /* Standard property for compatibility */
}

.our-vision-text {
  font-size: 1rem; /* Adjust font size for smaller screens */
  color: #ffffff; /* Adjust text color to ensure visibility */
}

@media screen and (max-width: 768px) {
  .our-vision-container {
    margin-top: 40px; /* Adjust margin-top for smaller screens */
  }

  .our-vision-text {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
  }
}

/* .........Styles for FeatureCards component .......................*/
/* Add margin to the FeatureCards component */
/* Styles for FeatureCards component */

/* Container for feature cards */
.feature-cards-container {
  display: flex;
  justify-content: space-between;
  gap: 60px; /* Adjust the gap between cards */
  margin-bottom: 80px;
  opacity: 0; /* Initially hide the cards */
  transition: opacity 1.5s ease; /* Add transition for fade-in effect */
}

/* Individual feature card */
.feature-card {
  flex: 1; /* Equal width for all cards */
  background-color: #f8f8f8; /* Example background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example box shadow */
}

/* Image inside the feature card */
.feature-image {
  max-width: 100%; /* Ensure the image doesn't exceed the width of the card */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px; /* Example border radius */
}

/* Apply fade-in animation to visible cards */
.feature-cards-container.visible {
  opacity: 1;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  /* Adjust container styles for smaller screens */
  .feature-cards-container {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center; /* Align cards in the center */
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* ...........................Animated numbers........................ */
.animated-number {
  font-size: 38px;
  font-weight: bold;
  color: #f3f3f3;
  transition: all 0.5s ease;
  text-align: center; /* Center the content */
} 

/* ...........................Ani_stats........................ */
/* AniStats component styles */

.anistat_container {
  position: relative;
  overflow: hidden; /* Ensure children with position:absolute don't overflow */
}

.content,
.ani-stats-title {
  opacity: 0; /* Initially hide content and title */
  transform: translateY(200px); /* Move content and title down */
  transition: opacity 1s ease, transform 0.5s ease; /* Apply transition */
}

.animate-slide-up .content,
.animate-slide-up .ani-stats-title {
  opacity: 1; /* Show content and title */
  transform: translateY(0); /* Move content and title up */
}

/* Apply gradient background to the p tag */
.content p {
  background-image: linear-gradient(135deg, #61ffbb, #67b2ff);
  -webkit-background-clip: text; /* Clip text to background */
  -webkit-text-fill-color: transparent; /* Set text color to transparent */
}


.content {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center-align text */
  color: #f8f8f8;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px; /* Adjust as needed */
}

.number-with-k {
  display: flex;
  align-items: center;
  font-size: 38px;
  font-weight: bold;
  color: #f3f3f3;
}

.number-with-k span {
  margin-left: 5px; /* Reduce space between the number and the "k" */
}

.ani-stats-title {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 30px;
  background-image: linear-gradient(135deg, #61dbff, #8f2dfd); /* Gradient background */
  -webkit-background-clip: text; /* Clip text to background */
  -webkit-text-fill-color: transparent; /* Set text color to transparent */
  font-size: 54px;
  font-weight: bold;
}

.marginbottom{
margin-bottom: 110px;
}

.ani-stats-title h1 {
  font-size: 84px; /* Adjust as needed */
  font-weight: bold;
}
@media (max-width: 768px) {
  .ani-stats-title {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 36px;
  }
  
  .ani-stats-title h1 {
    font-size: 60px;
  }

  .number-with-k {
    font-size: 32px;
  }

  .animated-number {
    font-size: 32px;
  }}